.menu {
    &.main {
        li {
            a {
                font-size: 2em;
            }
        }
    }
}

body {
    &.scrolled {
        .product {
            .woocommerce-product-gallery {
                margin-top: 50px;
            }
        } 
    }
}

.container {
    &.main {
        padding: 0;
    }

    &.home-blocks {
        margin-left: calc((100vw - #{$width_inner}) / (-2));
    }
}

.image-banner {
    left: calc((100vw - #{$width_inner}) / (-2));

    .banner-content {
        right:  calc(((100vw - #{$width_inner}) / (2)) + 30px);
    }
}

.product {
    .woocommerce-product-gallery {
        max-width: unset;
        width: 500px;
    }
} 