header {
    .wrap {
        justify-content: flex-end;
    }

    .site-logo {
        position: absolute;
            top: 0;
            left: 0;
        height: $height_header * 2;
    }
}

.menu {
    &.main {
        li {
            a {
                font-size: 1.3em;
            }
        }
    }
}

body {
    &.scrolled {
        header {
            .site-logo {
                height: 100%;
            }
        }

        .content {
            padding-left: 0;   
        }

        .product {
            .woocommerce-product-gallery {
                margin-top: 100px;
            }
        } 
    }
}

.page-title {
    text-align: right;
}

.container {
    &.main {
        padding: 0 50px;
    }
}

.content {
    text-align: right;
    padding-left: 30vh;   
}

.single-event {
    .content {
        padding-left: 0;

        .details {
            flex-basis: 230px;
            margin-right: 20px;
            padding-top: 10vh;
        }

        .map {
            flex-grow: 2;
            max-height: 40rem;
        }

        .btn {
            text-align: center;
        }
    }
}

.social-feed {
    padding: 0;
}

.product {
    .woocommerce-product-gallery {
        margin-top: 200px;
    }
}  